################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

trunk/NM.API/obj
trunk/NM.Business/obj
trunk/NM.DataAccess/obj
trunk/NM.Domain/obj
trunk/NM.Scheduler/obj
trunk/NM.Scheduler/obj

trunk/NM.Utility/obj
trunk/.vs
trunk/NM.API/app_logs
trunk/NM.API/Uploads
trunk/NM.API/bin/Debug
trunk/NM.Business/bin/Debug
trunk/NM.DataAccess/bin/Debug
trunk/NM.Domain/bin/Debug
trunk/NM.Scheduler/bin/Debug
trunk/NM.Utility/bin/Debug
trunk/NM.API/bin/Release
trunk/NM.Business/bin/Release
trunk/NM.DataAccess/bin/Release
trunk/NM.Domain/bin/Release
trunk/NM.Utility/bin/Release
/.vs/TheSkyComm/v16
/.vs
/Docs
trunk/NM.Scheduler/bin/Release
trunk/NM.Scheduler/Properties/PublishProfiles
trunk/NM.Scheduler/NM.Scheduler.csproj.user
trunk/NM.API/.config
trunk/NM.Utility/bin/Debug/netcoreapp3.1
trunk/NM.Domain/bin/Debug/netcoreapp3.1
trunk/NM.DataAccess/bin/Debug/netcoreapp3.1
trunk/NM.Business/bin/Debug/netcoreapp3.1
trunk/NM.API/bin/Debug/netcoreapp3.1
trunk/NM.Business/obj
trunk/.vs/NestorMind/v16/.suo
trunk/CompWebApp/obj
trunk/Host.Customization/obj
trunk/Host.Customization/bin
trunk/CompWebApp/webapp/node_modules
trunk/Host.Customization/bin
trunk/Host.Customization/bin
trunk/Host.Customization/obj
trunk/NM.Scheduler/obj
/trunk/NM.Infrastructure/obj
trunk/.vs/NestorMind/DesignTimeBuild/.dtbcache.v2
