.caseStudies_Banner {
  position: relative;
  z-index: 0;
  padding: 88px;
  overflow: unset;
  display: flex;
  padding-bottom: 0;
  margin-bottom: 80px;
}

.caseStudies_Banner .caseStudies_HalfBox {
  width: 100%;
  position: absolute;
  height: 100%;
  overflow: hidden;
  right: 0;
}

.caseStudies_HalfBox.caseStudies_HalfBox:before {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #7c55a3e0;
  content: "";
  top: 0;
}

.caseStudies_Banner .contentBox {
  width: 100%;
  float: left;
  position: relative;
  height: 650px;
  display: flex;
  align-items: center;
  padding: 70px;
  flex-direction: column;
}

.caseStudies_Banner .contentBox .storiesImg {
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  display: block;
}

.caseStudies_Banner .contentBox .storiesImg img {
  max-width: 700px;
  position: relative;
  bottom: -85px;
  right: 0;
}

.bannerContent {
  width: 100%;
  float: left;
  position: relative;
}

.bannerContent h1 {
  font-size: 75px;
  color: #fff;
  font-weight: 800;
}

.caseStudies_AboutContent {
  width: 100%;
  position: relative;
}

.caseStudies_AboutContent .caseStudies_About {
  padding-bottom: 40px;
}

.caseStudies_AboutContent .caseStudies_About .title {
  font-size: 30px;
  margin-bottom: 14px;
}
.caseStudies_AboutContent .caseStudies_About .caseStudies_details {
  font-size: 20px;
}
.CaseStoriesImg {
  width: 100%;
  text-align: right;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.CaseStoriesImg img {
  width: 100%;
  max-width: 369px;
  margin: auto;
}

/* Our Work Code */
.ourWorksBanner {
  min-height: 700px;
  display: flex;
  align-items: center;
  background: #000000;
}
.ourWorksBanner .ourWorkbannerContent {
  color: #fff;
  position: relative;
}
.ourWorksBanner .ourWorkbannerContent h1 {
  font-size: 72px;
  font-weight: 700;
}
.ourWorksBanner .ourWorkbannerContent h3 {
  font-size: 24px;
  font-weight: 200;
  line-height: 38px;
  max-width: 800px;
}
.storiesBox {
  padding: 100px 0;
  position: relative;
}
.storiesPanelItem {
  position: relative;
  margin-bottom: 100px;
}
.storiesPanelItem:last-child {
  margin-bottom: 0px;
}
.storiesPanelItem .headingPart {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 50px;
}
.storiesPanelItem .headingPart .projectDetails {
  position: relative;
}
.storiesPanelItem .headingPart .projectDetails {
  position: relative;
}
.storiesPanelItem .headingPart .projectDetails .chips {
  position: relative;
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
.storiesPanelItem .headingPart .projectDetails .chips span {
  font-size: 14px;
  background: #e2e2e2;
  padding: 6px 20px;
  border-radius: 30px;
}
.storiesPanelItem .headingPart .projectDetails .projectName {
  font-size: 42px;
  font-weight: 800;
}
.storiesPanelItem .headingPart .projectDetails .projectSubtitle {
  font-size: 18px;
  position: relative;
}
.projectsContentBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  gap: 40px;
}
.projectsContentBox .projectGraphics {
  position: relative;
  width: 100%;
}
.projectsContentBox .projectGraphics img {
  width: 100%;
}
.projectsContentBox .projectDiscriptions {
  position: relative;
  background: #e7e7e7;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projectsContentBox .projectDiscriptions .projectsContentPera {
  font-size: 14px;
  padding-bottom: 15px;
}
.projectsContentBox .projectDiscriptions .clientDetails .clientName {
  font-size: 18px;
  font-weight: 700;
}
.projectsContentBox .projectDiscriptions .clientDetails .clientPost {
  font-size: 16px;
  font-weight: 300;
  color: #8d8d8d;
}
.projectsContentBox .projectDiscriptions .clientDetails {
  text-align: end;
}

/* media */

@media (min-width: 320px) and (max-width: 480px) {
  .caseStudies_Banner {
    padding: 68px 0 0;
    margin-bottom: 40px;
  }
  .caseStudies_Banner .contentBox .storiesImg img {
    width: 100% !important;
  }
  .caseStudies_Banner .contentBox {
    padding: 70px 0px 0px;
    height: auto;
  }
  .bannerContent h1 {
    font-size: 36px;
    color: #fff;
    font-weight: 800;
  }
  .caseStudies_AboutContent .caseStudies_About .caseStudies_details {
    font-size: 14px;
  }
  .caseStudies_AboutContent .caseStudies_About .title {
    font-size: 24px;
    margin-bottom: 14px;
  }
  .caseStudies_Banner .caseStudies_HalfBox {
    height: auto;
    position: absolute;
    width: 100%;
    background: red;
    height: 350px;
  }
  .caseStudies_HalfBox.caseStudies_HalfBox:before {
    background: #325b95;
  }
  .caseStudies_Banner .caseStudies_HalfBox img {
    display: NONE;
  }

  .ourWorksBanner .ourWorkbannerContent h1 {
    font-size: 42px;
    font-weight: 700;
  }
  .ourWorksBanner .ourWorkbannerContent h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .projectsContentBox {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    grid-gap: 15px;
    gap: 25px;
  }
  .storiesPanelItem {
    position: relative;
    margin-bottom: 40px;
  }
  .storiesPanelItem .headingPart .projectDetails .chips {
    position: relative;
    display: flex;
    grid-gap: 15px;
    gap: 4px;
    margin-bottom: 6px;
    flex-wrap: wrap;
  }
  .storiesPanelItem .headingPart .projectDetails .chips span {
    font-size: 11px;
    background: #e2e2e2;
    padding: 6px 10px;
    border-radius: 30px;
  }

  .storiesPanelItem .headingPart .projectDetails .projectName {
    font-size: 24px;
  }
  .storiesPanelItem .headingPart .projectDetails .projectSubtitle {
    font-size: 14px;
    position: relative;
  }
}

@media (min-width: 481px) and (max-width: 680px) {
  .caseStudies_Banner {
    padding: 68px 0 0;
    margin-bottom: 40px;
  }
  .caseStudies_Banner .contentBox .storiesImg img {
    width: 100% !important;
  }
  .caseStudies_Banner .contentBox {
    padding: 70px 0px;
    height: auto;
  }
  .bannerContent h1 {
    font-size: 36px;
    color: #fff;
    font-weight: 800;
  }
  .caseStudies_AboutContent .caseStudies_About .caseStudies_details {
    font-size: 14px;
  }
  .caseStudies_AboutContent .caseStudies_About .title {
    font-size: 24px;
    margin-bottom: 14px;
  }
  .caseStudies_Banner .caseStudies_HalfBox {
    height: auto;
    position: absolute;
    width: 100%;
    background: red;
    height: auto;
  }
  .caseStudies_Banner .caseStudies_HalfBox img {
    width: 100%;
  }

  .ourWorksBanner .ourWorkbannerContent h1 {
    font-size: 42px;
    font-weight: 700;
  }
  .ourWorksBanner .ourWorkbannerContent h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .projectsContentBox {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    grid-gap: 15px;
    gap: 25px;
  }
  .storiesPanelItem {
    position: relative;
    margin-bottom: 40px;
  }
  .storiesPanelItem .headingPart .projectDetails .chips {
    position: relative;
    display: flex;
    grid-gap: 15px;
    gap: 4px;
    margin-bottom: 6px;
    flex-wrap: wrap;
  }
  .storiesPanelItem .headingPart .projectDetails .chips span {
    font-size: 11px;
    background: #e2e2e2;
    padding: 6px 10px;
    border-radius: 30px;
  }

  .storiesPanelItem .headingPart .projectDetails .projectName {
    font-size: 24px;
  }
  .storiesPanelItem .headingPart .projectDetails .projectSubtitle {
    font-size: 14px;
    position: relative;
  }
}

@media (min-width: 681px) and (max-width: 767px) {
  .caseStudies_Banner {
    padding: 88px 0 0;
    margin-bottom: 40px;
    display: block;
  }
  .caseStudies_Banner .contentBox .storiesImg img {
    width: 100% !important;
    max-width: 500px;
  }
  .caseStudies_Banner .contentBox {
    padding: 70px 0px;
    height: auto;
  }
  .bannerContent h1 {
    font-size: 60px;
    color: #fff;
    font-weight: 800;
  }
  .caseStudies_AboutContent .caseStudies_About .caseStudies_details {
    font-size: 14px;
  }
  .caseStudies_AboutContent .caseStudies_About .title {
    font-size: 24px;
    margin-bottom: 14px;
  }
  .caseStudies_Banner .caseStudies_HalfBox img {
    width: 100%;
  }
  .caseStudies_Banner .caseStudies_HalfBox {
    height: auto;
    position: absolute;
    width: 100%;
    background: red;
    height: auto;
  }
  .ourWorksBanner .ourWorkbannerContent h1 {
    font-size: 60px;
    font-weight: 700;
  }
  .ourWorksBanner .ourWorkbannerContent h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .projectsContentBox {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    grid-gap: 15px;
    gap: 25px;
  }
  .storiesPanelItem {
    position: relative;
    margin-bottom: 40px;
  }
  .storiesPanelItem .headingPart .projectDetails .chips {
    position: relative;
    display: flex;
    grid-gap: 15px;
    gap: 4px;
    margin-bottom: 6px;
    flex-wrap: wrap;
  }
  .storiesPanelItem .headingPart .projectDetails .chips span {
    font-size: 11px;
    background: #e2e2e2;
    padding: 6px 10px;
    border-radius: 30px;
  }

  .storiesPanelItem .headingPart .projectDetails .projectName {
    font-size: 36px;
  }
  .storiesPanelItem .headingPart .projectDetails .projectSubtitle {
    font-size: 14px;
    position: relative;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .caseStudies_Banner {
    padding: 88px 0 0;
    margin-bottom: 40px;
    display: block;
  }
  .caseStudies_Banner .contentBox .storiesImg img {
    width: 100% !important;
    max-width: 500px;
  }
  .caseStudies_Banner .contentBox {
    padding: 70px 0px;
    height: auto;
  }
  .bannerContent h1 {
    font-size: 60px;
    color: #fff;
    font-weight: 800;
  }
  .caseStudies_AboutContent .caseStudies_About .caseStudies_details {
    font-size: 14px;
  }
  .caseStudies_AboutContent .caseStudies_About .title {
    font-size: 24px;
    margin-bottom: 14px;
  }
  .caseStudies_Banner .caseStudies_HalfBox img {
    width: 100%;
  }
  .caseStudies_Banner .caseStudies_HalfBox {
    height: auto;
    position: absolute;
    width: 100%;
    background: red;
    height: auto;
  }
}
