.careerPanle {
  width: 100%;
  padding: 100px 0 60px;
  background: #103d7d;
  margin-top: 0px;
  position: relative;
}
.careerPanle .careerImg {
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 600px;
}
.careerPanle .careerBanner_Content {
  padding: 50px 0;
}
.careerPanle .careerBanner_Content .careerContent {
  width: 100%;
  float: left;
  position: relative;
}
.careerPanle .careerBanner_Content .careerContent h1 {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 40px;
}
.careerPanle .careerBanner_Content .careerContent p {
  font-size: 24px;
  margin-bottom: 40px;
  color: #fff;
}
.appi-cta {
  display: table;
  position: relative;
}
.appi-cta a,
.appi-cta button {
  position: relative;
  display: block;
  color: #fff;
  cursor: pointer;
  background: #0092ff;
  padding: 22.5px 60px;
  font-size: 18px;
  font-family: "Poppins", sans-serif !important;
  border-radius: 5px;
  white-space: nowrap;
  transition: all ease 0.5s;
}
.appi-cta a span,
.appi-cta button span {
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}
.appi-cta a .arrow,
.appi-cta button .arrow {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 44px;
  top: 21px;
}
.appi-cta a .arrow i,
.appi-cta button .arrow i {
  font-style: normal;
  position: absolute;
  top: 1px;
  left: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.appi-cta a .arrow svg,
.appi-cta button .arrow svg {
  position: absolute;
  top: -3px;
  left: 5px;
}
.appi-cta a:hover,
.appi-cta button:hover {
  padding: 22.5px 80px 22.5px 40px;
}
.appi-cta a span,
.appi-cta button span {
  padding: 0;
}
.appi-cta a:hover .arrow,
.appi-cta button:hover .arrow {
  opacity: 1;
}
.arrow {
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.whyNestro .small-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 50px 0;
  max-width: 80%;
}
.whyNestro .heading2 {
  color: #333;
  font-size: 60px;
  font-weight: 700;
  position: relative;
  z-index: 1;
  font-family: "Poppins", sans-serif !important;
}
.whyNestro .heading1 + .heading5,
.whyNestro .heading2 + .heading5,
.whyNestro .heading5 + .heading5 {
  font-family: "Poppins", sans-serif !important;
}

.whyNestro .heading5 {
  color: #333;
  font-size: 24px;
  position: relative;
  margin: 20px 0 30px;
  font-family: "Poppins", sans-serif !important;
}
.whyNestro .para {
  font-size: 18px;
  margin: 30px 0;
  color: #333;
  font-family: "Poppins", sans-serif !important;
}

.jobOpening .small-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 50px 0;
  max-width: 80%;
}
.jobOpening .heading2 {
  color: #333;
  font-size: 60px;
  position: relative;
  z-index: 1;
  font-family: "Poppins", sans-serif !important;
  font-weight: 700;
}
.jobOpening .position_list {
  padding: 30px 0 0;
}
.jobOpening .position_list li {
  border-bottom: 1px solid #e6e6e6;
  padding: 28px 0 20px;
  list-style: none;
}
.jobOpening .heading5 {
  color: #333;
  font: 24px/1.2;
  position: relative;
  margin: 20px 0 30px;
  font-family: "Poppins", sans-serif !important;
}
.jobOpening .position_list li .location {
  color: #000;
  font-size: 18px;
  float: right;
  font-family: "Poppins", sans-serif !important;
}
.jobOpening .position_list li .location figure {
  padding-left: 15px;
  display: inline-block;
}

.min-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 0 100px;
}
.newsletter_wrapper {
  background: #7fc140;
}
.page-template-careers .newsletter_wrapper {
  margin-bottom: 100px;
}
.small-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 100px 0;
  max-width: 80%;
}
.flex_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.flex_wrapper.space_between {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0 0;
  justify-content: space-between;
}
.newsletter_left {
  position: relative;
  width: 45%;
  margin-right: 5%;
}
.small_text {
  font-size: 14px;
  margin: 0 0 15px;
  color: #fff;
  font-weight: 700;
  font-family: "Poppins", sans-serif !important;
}
.heading3 {
  color: #fff;
  font-size: 36px;
  position: relative;
  font-weight: 700;
  font-family: "Poppins", sans-serif !important;
}
.newsletter_right {
  width: 45%;
  margin-left: 5%;
}
.newsletter_right .para {
  font-size: 20px;
  margin: 0 0 20px 0;
  color: #fff;
  font-weight: 500;
  font-family: "Poppins", sans-serif !important;
}
.newsletter_right .type_text {
  background: #fff;
  font-size: 18px;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
}
.newsletter_right .appi-cta {
  margin-top: 20px;
}
.newsletter_right .appi-cta button {
  background: #fff;
  color: #7fc140;
  border: 0;
  transition: all ease 0.5s;
}
.newsletter_right .appi-cta button:hover {
  background: #559e0f;
  color: #fff;
  transition: all ease 0.5s;
  box-shadow: 0px 0px 29px 0px #00000005;
}
.newsletter_right .appi-cta a,
.newsletter_right .appi-cta button {
  padding: 17.5px 39px;
}

.uploadCvPanel {
  width: 100%;
  padding: 100px 0;
  margin-top: 30px;
}
.uploadCvPanel .uploadBox {
  width: 100%;
  background: #ffffff;
  padding: 80px;
  box-shadow: 0px 0px 15px 0px #d6d6dd9c;
  border-radius: 50px;
}
.uploadCvPanel .uploadBox .titleBox {
  width: 100%;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  color: #0657aa;
}
.uploadCvPanel .uploadBox form {
  width: 100%;
  max-width: 500px;
  margin: auto;
  text-align: center;
}
.uploadCvPanel .uploadBox form .input-form {
  position: relative;
}
.uploadCvPanel .uploadBox form .input-form .upload.Cv {
  z-index: 0;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 1;
  height: 80px;
  background: #f1751a;
  width: 80px;
  line-height: 75px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.uploadCvPanel .uploadBox form .input-form .upload.Cv img.outbox {
  width: 46px;
}
.uploadCvPanel .uploadBox form .input-form input.form-control {
  position: absolute;
  top: 0;
  width: 80px;
  margin: auto;
  left: 0;
  right: 0;
  height: 80px;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}
.uploadCvPanel .uploadBox form .input-form.mh-100 {
  min-height: 90px;
  margin: 30px;
}
.uploadCvPanel .up-gra {
  display: flex;
  width: 100%;
  background: #ffffff;
  padding: 80px;
  box-shadow: 0px 0px 15px 0px #d6d6dd9c;
  border-radius: 50px;
}

.uploadCvPanel .uploadBox .fileName {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
}

input.SubmitCv {
  background: #f1751a;
  color: #fff;
  border: #f1751a;
}

input.SubmitCv.add {
  background: #cacaca;
  color: #fff;
  border: #cacaca;
}

@media (min-width: 150px) and (max-width: 480px) {
  .careerPanle .careerBanner_Content .careerContent h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .careerPanle .careerImg {
    position: absolute;
    right: 0;
    bottom: 0px;
    max-width: 320px;
    width: 100%;
  }
  .careerPanle .careerBanner_Content .careerContent p {
    font-size: 14px;
    margin-bottom: 40px;
    color: #fff;
  }
  .appi-cta a,
  .appi-cta button {
    padding: 23.5px 19px;
  }
  .appi-cta a:hover,
  .appi-cta button:hover {
    padding: 22.5px 65px 22.5px 25px;
  }
  .appi-cta a .arrow svg,
  .appi-cta button .arrow svg {
    left: 21px;
  }
  .appi-cta a .arrow i,
  .appi-cta button .arrow i {
    left: 15px;
  }
  .appi-cta a span,
  .appi-cta button span {
    padding: 0;
    font-size: 14px;
  }
  .appi-cta a .arrow,
  .appi-cta button .arrow {
    top: 24px;
  }
  .careerPanle {
    padding-bottom: 213px;
  }
  .whyNestro .heading2 {
    font-size: 30px;
  }
  .whyNestro .small-container {
    max-width: 100%;
  }
  .whyNestro .heading5 {
    font-size: 18px;
  }
  .whyNestro .para {
    font-size: 16px;
  }
  .jobOpening .heading2 {
    font-size: 30px;
  }
  .jobOpening .position_list li a {
    display: flex;
    flex-direction: column;
  }
  .jobOpening .heading5 {
    color: #333;
    position: relative;
    margin: 20px 0 15px;
    font-family: "Poppins", sans-serif !important;
    font-size: 20px;
    font-weight: 600;
  }
  .jobOpening .position_list li {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0 10px;
    list-style: none;
  }
  .jobOpening .small-container {
    max-width: 100%;
  }
  .newsletter_wrapper .small-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 30px 0;
    max-width: 80%;
  }
  .flex_wrapper.space_between {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 0;
    justify-content: space-between;
    flex-direction: column;
  }
  .newsletter_left {
    position: relative;
    width: 100%;
    margin-right: 0%;
  }
  .newsletter_right {
    width: 100%;
    margin-left: 0%;
  }
  .heading3 {
    font-size: 24px;
  }
  .newsletter_right .para {
    font-size: 16px;
  }

  .uploadCvPanel .up-gra {
    display: flex;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px #d6d6dd9c;
    border-radius: 10px;
    flex-direction: column;
  }
  .uploadCvPanel .up-gra .upload-Graphics .uploadGra {
    width: 100%;
  }
  .uploadCvPanel .uploadBox {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px #d6d6dd9c;
    border-radius: 10px;
  }
  .uploadCvPanel .uploadBox .titleBox {
    font-size: 26px;
  }
  .uploadCvPanel .uploadBox .fileName {
    font-size: 13px;
  }
}

@media (min-width: 481px) and (max-width: 575px) {
  .careerPanle .careerBanner_Content .careerContent h1 {
    font-size: 38px;
    line-height: 52px;
  }

  .careerPanle .careerImg {
    position: absolute;
    right: 0;
    bottom: 0px;
    max-width: 370px;
    width: 100%;
  }
  .careerPanle .careerBanner_Content .careerContent p {
    font-size: 14px;
    margin-bottom: 40px;
    color: #fff;
  }
  .appi-cta a,
  .appi-cta button {
    padding: 23.5px 34px;
  }
  .appi-cta a:hover,
  .appi-cta button:hover {
    padding: 22.5px 75px 22.5px 35px;
  }
  .appi-cta a .arrow svg,
  .appi-cta button .arrow svg {
    left: 21px;
  }
  .appi-cta a .arrow i,
  .appi-cta button .arrow i {
    left: 15px;
  }
  .appi-cta a span,
  .appi-cta button span {
    padding: 0;
    font-size: 14px;
  }
  .appi-cta a .arrow,
  .appi-cta button .arrow {
    top: 24px;
  }
  .careerPanle {
    padding-bottom: 213px;
  }
  .whyNestro .heading2 {
    font-size: 36px;
  }
  .whyNestro .small-container {
    max-width: 100%;
  }
  .whyNestro .heading5 {
    font-size: 20px;
  }
  .whyNestro .para {
    font-size: 16px;
  }
  .jobOpening .heading2 {
    font-size: 30px;
  }
  .jobOpening .position_list li a {
    display: flex;
    flex-direction: column;
  }
  .jobOpening .heading5 {
    color: #333;
    position: relative;
    margin: 20px 0 15px;
    font-family: "Poppins", sans-serif !important;
    font-size: 20px;
    font-weight: 600;
  }
  .jobOpening .position_list li {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0 10px;
    list-style: none;
  }
  .jobOpening .small-container {
    max-width: 100%;
  }
  .newsletter_wrapper .small-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 30px 0;
    max-width: 80%;
  }
  .flex_wrapper.space_between {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 0;
    justify-content: space-between;
    flex-direction: column;
  }
  .newsletter_left {
    position: relative;
    width: 100%;
    margin-right: 0%;
  }
  .newsletter_right {
    width: 100%;
    margin-left: 0%;
  }
  .heading3 {
    font-size: 24px;
  }
  .newsletter_right .para {
    font-size: 16px;
  }
  .uploadCvPanel .up-gra {
    display: flex;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px #d6d6dd9c;
    border-radius: 10px;
    flex-direction: column;
  }
  .uploadCvPanel .up-gra .upload-Graphics .uploadGra {
    width: 100%;
  }
  .uploadCvPanel .uploadBox {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px #d6d6dd9c;
    border-radius: 10px;
  }
  .uploadCvPanel .uploadBox .titleBox {
    font-size: 26px;
  }
  .uploadCvPanel .uploadBox .fileName {
    font-size: 13px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .careerPanle .careerBanner_Content .careerContent h1 {
    font-size: 48px;
    line-height: 62px;
  }

  .careerPanle .careerImg {
    position: absolute;
    right: 0;
    bottom: 0px;
    max-width: 370px;
    width: 100%;
  }
  .careerPanle .careerBanner_Content .careerContent p {
    font-size: 16px;
    margin-bottom: 40px;
    color: #fff;
  }
  .appi-cta a,
  .appi-cta button {
    padding: 23.5px 34px;
  }
  .appi-cta a:hover,
  .appi-cta button:hover {
    padding: 22.5px 75px 22.5px 35px;
  }
  .appi-cta a .arrow svg,
  .appi-cta button .arrow svg {
    left: 21px;
  }
  .appi-cta a .arrow i,
  .appi-cta button .arrow i {
    left: 15px;
  }
  .appi-cta a span,
  .appi-cta button span {
    padding: 0;
    font-size: 18px;
  }
  .appi-cta a .arrow,
  .appi-cta button .arrow {
    top: 24px;
  }
  .careerPanle {
    padding-bottom: 213px;
  }
  .whyNestro .heading2 {
    font-size: 36px;
  }
  .whyNestro .small-container {
    max-width: 100%;
  }
  .whyNestro .heading5 {
    font-size: 20px;
  }
  .whyNestro .para {
    font-size: 16px;
  }
  .jobOpening .heading2 {
    font-size: 30px;
  }
  .jobOpening .position_list li a {
    display: inline;
    flex-direction: row;
  }
  .jobOpening .heading5 {
    color: #333;
    position: relative;
    margin: 20px 0 15px;
    font-family: "Poppins", sans-serif !important;
    font-size: 20px;
    font-weight: 600;
  }
  .jobOpening .position_list li {
    border-bottom: 1px solid #e6e6e6;
    padding: 18px 0 16px;
    list-style: none;
  }
  .jobOpening .small-container {
    max-width: 100%;
  }
  .newsletter_wrapper .small-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 30px 0;
    max-width: 80%;
  }
  .flex_wrapper.space_between {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 0;
    justify-content: space-between;
    flex-direction: column;
  }
  .newsletter_left {
    position: relative;
    width: 100%;
    margin-right: 0%;
  }
  .newsletter_right {
    width: 100%;
    margin-left: 0%;
  }
  .heading3 {
    font-size: 24px;
  }
  .newsletter_right .para {
    font-size: 16px;
  }
  .uploadCvPanel .up-gra {
    display: flex;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px #d6d6dd9c;
    border-radius: 10px;
    flex-direction: column;
  }
  .uploadCvPanel .up-gra .upload-Graphics .uploadGra {
    width: 100%;
  }
  .uploadCvPanel .uploadBox {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px #d6d6dd9c;
    border-radius: 10px;
  }
  .uploadCvPanel .uploadBox .titleBox {
    font-size: 26px;
  }
  .uploadCvPanel .uploadBox .fileName {
    font-size: 13px;
  }
}
.recaptcha{
display: flex;
justify-content: center !important;

margin-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .careerPanle .careerBanner_Content .careerContent h1 {
    font-size: 48px;
    line-height: 62px;
  }

  .careerPanle .careerImg {
    position: absolute;
    right: 0;
    bottom: 0px;
    max-width: 370px;
    width: 100%;
  }
  .careerPanle .careerBanner_Content .careerContent p {
    font-size: 16px;
    margin-bottom: 40px;
    color: #fff;
  }
  .appi-cta a,
  .appi-cta button {
    padding: 23.5px 34px;
  }
  .appi-cta a:hover,
  .appi-cta button:hover {
    padding: 22.5px 75px 22.5px 35px;
  }
  .appi-cta a .arrow svg,
  .appi-cta button .arrow svg {
    left: 21px;
  }
  .appi-cta a .arrow i,
  .appi-cta button .arrow i {
    left: 15px;
  }
  .appi-cta a span,
  .appi-cta button span {
    padding: 0;
    font-size: 18px;
  }
  .appi-cta a .arrow,
  .appi-cta button .arrow {
    top: 24px;
  }
  .careerPanle {
    padding-bottom: 213px;
  }
  .whyNestro .heading2 {
    font-size: 36px;
  }
  .whyNestro .small-container {
    max-width: 80%;
  }
  .whyNestro .heading5 {
    font-size: 20px;
  }
  .whyNestro .para {
    font-size: 16px;
  }
  .jobOpening .heading2 {
    font-size: 30px;
  }

  .uploadCvPanel .up-gra {
    display: flex;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px #d6d6dd9c;
    border-radius: 10px;
    flex-direction: column;
  }
  .uploadCvPanel .up-gra .upload-Graphics .uploadGra {
    width: 100%;
  }
  .uploadCvPanel .uploadBox {
    width: 100%;
    background: #ffffff;
    padding: 30px;
    box-shadow: 0px 0px 15px 0px #d6d6dd9c;
    border-radius: 10px;
  }
  .uploadCvPanel .uploadBox .titleBox {
    font-size: 30px;
  }
  .uploadCvPanel .uploadBox .fileName {
    font-size: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .careerPanle .careerBanner_Content .careerContent h1 {
    font-size: 48px;
    line-height: 70px;
  }

  .careerPanle .careerImg {
    position: absolute;
    right: 0;
    bottom: 0px;
    max-width: 520px;
    width: 100%;
  }
  .careerPanle .careerBanner_Content .careerContent p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #fff;
  }

  .careerPanle {
    padding-bottom: 213px;
  }
  .whyNestro .heading2 {
    font-size: 42px;
  }
  .whyNestro .small-container {
    max-width: 80%;
  }
  .whyNestro .heading5 {
    font-size: 20px;
  }
  .whyNestro .para {
    font-size: 16px;
  }
  .jobOpening .heading2 {
    font-size: 42px;
  }

  .uploadCvPanel .uploadBox {
    padding: 45px 30px;
  }
  .uploadCvPanel .up-gra {
    padding: 30px;
    border-radius: 30px;
  }
  .uploadCvPanel .up-gra .upload-Graphics {
    position: relative;
  }
  .uploadCvPanel .up-gra .upload-Graphics img {
    max-width: 590px;
  }
  .uploadCvPanel .uploadBox .titleBox {
    font-size: 30px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .careerPanle .careerBanner_Content .careerContent h1 {
    font-size: 44px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
  }
  .careerPanle .careerBanner_Content .careerContent p {
    font-size: 16px;
  }
  .careerPanle .careerImg {
    position: absolute;
    right: 0;
    bottom: 0px;
    max-width: 520px;
    width: 100%;
  }
  .careerPanle {
    padding-bottom: 88px;
  }
  .whyNestro .heading2 {
    font-size: 42px;
  }
  .whyNestro .small-container {
    max-width: 80%;
  }
  .whyNestro .heading5 {
    font-size: 20px;
  }
  .whyNestro .para {
    font-size: 16px;
  }
  .jobOpening .heading2 {
    font-size: 42px;
  }

  .uploadCvPanel .uploadBox {
    padding: 45px 30px;
  }
  .uploadCvPanel .up-gra {
    padding: 30px;
    border-radius: 30px;
  }
  .uploadCvPanel .up-gra .upload-Graphics {
    position: relative;
  }
  .uploadCvPanel .up-gra .upload-Graphics img {
    max-width: 590px;
  }
  .uploadCvPanel .uploadBox .titleBox {
    font-size: 30px;
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .careerPanle .careerBanner_Content .careerContent h1 {
    font-size: 44px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
  }
  .careerPanle .careerBanner_Content .careerContent p {
    font-size: 16px;
  }
  .careerPanle .careerImg {
    position: absolute;
    right: 0;
    bottom: 0px;
    max-width: 520px;
    width: 100%;
  }
  .careerPanle {
    padding-bottom: 213px;
  }
  .whyNestro .heading2 {
    font-size: 42px;
  }
  .whyNestro .small-container {
    max-width: 80%;
  }
  .whyNestro .heading5 {
    font-size: 20px;
  }
  .whyNestro .para {
    font-size: 16px;
  }
  .jobOpening .heading2 {
    font-size: 42px;
  }

  .uploadCvPanel .uploadBox {
    padding: 45px 30px;
  }
  .uploadCvPanel .up-gra {
    padding: 30px;
    border-radius: 30px;
  }
  .uploadCvPanel .up-gra .upload-Graphics {
    position: relative;
  }
  .uploadCvPanel .up-gra .upload-Graphics img {
    max-width: 590px;
  }
}
/*-------Job Description ------- */
.jobdes_margin {
  margin-top: 133px;
  margin-bottom: 100px;
}
.titlejob {
  font-size: 24px;
}
.jobdes_card {
  box-shadow: 0px 0px 15px 0px #d6d6dd9c;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid rgb(233, 227, 227);
}
.jobdes_marginbottom {
}
.job_location {
  font-size: 16px;
  font-weight: 400;
}
.job_date {
  font-size: 14px;
  font-weight: 350;
}
.jobapply_button {
  margin-top: 10px;
  padding: 0px 34px;
  border: 2.5px solid #ea7424;
  font-size: 18px;
  font-weight: 700;
  border-radius: 116px;
  color: #eb7823;
  background-color: #fff;
  height: 53px;
  width: 292px;
  transition: 0.9s;
}
.jobapply_button:hover {
  background: #eb7823;
  color: white;
  transition: 0.9s;
}
.job_description_heading {
  font-size: 16px;
  font-weight: 700;
  padding: 30px;
  text-decoration: underline;
}
.padd {
  padding: 30px;
}
.job_description_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}
.job_description_level_list {
  list-style: none;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 50% 50%;
  gap: 40px;
  max-width: 600px;
}
.job_description_level {
  color: gray;
  font-size: 16px;
  font-weight: 300;
}
.main-pannle {
  display: flex;
}
.leftt_pannel {
  width: 80%;
}
.right_pannle_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  padding-left: 0;
  padding-top: 10px;
}
.right_pannle_title {
  font-size: 16px !important;
  font-weight: 700;
}
.right_pannle_list_itmes {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.right_pannle_button {
  background-color: white;
  color: #1b75cf;
  border: 0;
  font-weight: 700;
}
.right_pannle_main_heading {
  font-weight: 400;
}
@media (min-width: 200px) and (max-width: 776px) {
  .mediaqueiry {
    visibility: hidden;
  }
}
@media (min-width: 200px) and (max-width: 776px) {
  .leftt_pannel {
    width: 100%;
  }
}
