section.contact__panel.contact-hero {
    margin-top: 70px;
}

.contact-hero__item {
    flex: 5;
}

.contact-hero h1 {
    font-size: 48px;
    letter-spacing: 1.2px;
    line-height: 56px;
    font-weight: 500;
}

.contact-form .input-group p {
    font-family: Muli, sans-serif;
    font-size: 18px;
    letter-spacing: -.18px;
    line-height: 20px;
    width: 100%;
    float: left;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 800;
}

.contact-form .input-group p {
    font-family: Muli, sans-serif;
    font-size: 18px;
    letter-spacing: -.18px;
    line-height: 20px;
    width: 100%;
    float: left;
}

.contact-form ul {
    padding: 0;
    margin: 0 -10px;
    list-style: none;
    max-width: 500px;
}

.contact-form ul li {
    margin: 10px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    overflow: auto;
    float: left;
}

.contact-form ul li label {
    float: left;
    width: 100%;
    margin: 0;
    position: relative;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: -.18px;
    line-height: 35px;
}

.contact-form ul li label input {
    position: absolute;
    top: -20px;
}

[type=checkbox], [type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.contact-form ul li label span {
    text-align: center;
    padding: 5px 20px;
    display: block;
    font-family: Muli, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -.18px;
    line-height: 24px;
    cursor: pointer;
}

.contact-form ul li input:checked+span {
    background-color: #77c581;
    color: white;
}

.material-input {
    position: relative;
    margin-top: 15px;
}

input[type=email], input[type=text], textarea {
    display: block;
    width: 93%;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #000;
    font-family: Muli, sans-serif;
    font-size: .85em;
    outline: 0;
}

.material-input input, .material-input textarea {
    padding: 0px 0 10px;
    -webkit-transition: all .28s ease;
    -o-transition: all .28s ease;
    -moz-transition: all .28s ease;
    transition: all .28s ease;
    border-color: #aab8b8;
    font-size: 20px;
}

.material-input label {
    position: absolute;
    margin: 0;
    top: 20%;
    left: 0;
    pointer-events: none;
    padding-left: .125rem;
    z-index: 1;
    color: #b3b3b3;
    font-size: 1rem;
    font-weight: 400;
    -webkit-transition: all .28s ease;
    -o-transition: all .28s ease;
    -moz-transition: all .28s ease;
    transition: all .28s ease;
}

.clear {
    clear: both;
}

.contact-form input[type=submit] {
    margin-top: 30px;
}

input[type=submit] {
    padding: 10px 15px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
    width: 180px;
    height: 60px;
}

input[type=submit] {
    padding: 15px 34px;
    display: inline-block;
    border: 2.5px solid #ea7424;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: .36px;
    border-radius: 116px;
    color: #eb7823;
    background-color: #fff;
    transition: all .3s ease-in-out;
}

input[type=submit]:hover {
    background-color: #ea7424;
    color: #fff;
}

input[type=email]:focus, input[type=email]:hover, input[type=text]:focus, input[type=text]:hover, textarea:focus, textarea:hover {
    outline: 0;
    border: none!important;
    border-bottom: 1px solid #aab8b8!important;
    box-shadow: none !important;
}

.contact-hero__item:last-child {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -moz-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    text-align: right;
}

.material-input input.input-is-active~label, .material-input input:focus~label, .material-input textarea.input-is-active~label, .material-input textarea:focus~label {
    font-size: 13px;
    top: -15px;
    left: 0;
}

.contact-hero--contact {
    text-align: right;
    font-size: 18px;
    line-height: 43px;
}

.contact-hero--contact a {
    color: #000;
    font-weight: 700;
}

.formpanel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-hero__item:last-child img {
    width: 100%;
}

@media (min-width:320px) and (max-width:480px) {
    section.contact__panel.contact-hero {
    margin-top: 0px;
    padding-top: 90px;
}
    .formpanel {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }
    .material-input {
        margin-top: 10px;
        width: 100%;
    }
    .contact-hero h1 {
        font-size: 28px;
        line-height: 30px;
    }
    .contact-form .input-group p {
        font-family: Muli, sans-serif;
        font-size: 15px;
        margin-top: 5px;
        text-transform: uppercase;
        font-weight: 400;
    }
    .contact-form ul li {
        margin: 4px;
    }
    .contact-form ul li label span {
        padding: 5px 10px;
        font-size: 13px;
        line-height: 20px;
    }
    .material-input input, .material-input textarea {
        padding: 5px 0;
        font-size: 16px;
    }
    input[type=email], input[type=text], textarea {
        display: block;
        width: 100%;
    }
   .contact-form input[type=submit] {
        margin-top: 0px;
    }
    input[type=submit] {
        height: 44px;
    }
    input[type=submit] {
        padding: 5px 34px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        letter-spacing: .36px;
        border-radius: 30px;
    }
    .contact-hero--contact {
        font-size: 14px;
        text-align: left;
        margin-top: 10px;
    }
}

@media (min-width:1200px) and (max-width:1366px) {
    .contact-hero h1 {
        font-size: 60px;
        letter-spacing: 1.7px;
        line-height: 60px;
        font-weight: 800;
    }
    .contact-form ul li label span {
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
    }
    .material-input input, .material-input textarea {
        padding: 8px 0;
    }
    .material-input {
        position: relative;
        margin-top: 0px;
    }
    .contact-form input[type=submit] {
        margin-top: 12px;
    }
    .contact-form .input-group p {
        margin-top: 10px;
        margin-bottom: 5px;
    }
}